---

---
<div>
    <slot />
</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        gap: 10lvh;
        justify-content: center;
        padding: 9.5lvh 0 0 4rem;
    }
</style>