---
const {title} = Astro.props
---
    <div class="about-text-container">
        <span class="line">{title}</span>
    </div>

<style>
    .line {
        font-size: calc(10px + .1vw);
        display: block;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 4%;
        position: relative;
        opacity: .4;
        transition: opacity 0.5s ease-in-out;
    }

    .line::after {
        content: "";
        display: block;
        height: 1px;
        width: 3%;
        background: #3A4852;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .line:hover{
        opacity: 1;
    }
</style>