---

import ProjectContComponent from "./ProjectContComponent.astro";---

<div class="project-container">
    <ProjectContComponent></ProjectContComponent>
    <ProjectContComponent></ProjectContComponent>
</div>

<style>
    .project-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
</style>