---
import LineTitle from "./LineTitle.astro";
import TextImageComponent from "./TextImageComponent.astro";
import Origin from "../assets/logorigin.jpg"
const {title, description, withDesc = true} = Astro.props
---
<div>
    <LineTitle title={title}/>

    {withDesc ?
            <span class="desc">
                  {description}
              </span>
        :
            <span>
              <TextImageComponent src={Origin.src} alt={"Logo de compañia OriginPath"} text={"OriginPath"}/>
          </span>
    }

</div>

<style>
    .desc {
        font-size: .8rem;
        width: 75%;
        opacity: .8;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .7rem;
    }
</style>