---
const { text } = Astro.props
---
<span>
    {text}
</span>

<style>
    span{
        text-align: center;
        background: #f9f9f9;
        width: 20rem;
        font-size: 1.8em;
        padding: 3px 0 3px 0;
        font-family:"Montserrat", serif ;
        font-weight: 200;

        @media (max-width: 780px) {
            width: 15rem;
        }
    }
</style>